:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --white-color: #fff;
    --grey-color: #777;
    --dark-grey-color: #444;
    --lighter-grey-color: #555;
    --light-grey: #eee;
    --max-width: 1100px;
}

.category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-color);
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    line-height: 1.3;
    margin-bottom: 0.55rem;
}

/* Utilities */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    overflow: hidden;
    padding: 0 2rem;
}

.category {
    border-radius: 15px;
    color: var(--white-color);
    display: inline-block;
    font-size: 0.55rem;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.6rem;
    text-transform: uppercase;
}

.category-sports {
    background-color: var(--sports-color);
}

.category-ent {
    background-color: var(--ent-color);
}

.category-tech {
    background-color: var(--tech-color);
}

.btn {
    background-color: var(--dark-color);
    border: none;
    color: var(--white-color);
    display: inline-block;
    padding: 0.5rem 1.5rem;
}

.btn-light {
    background-color: var(--light-color);
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-block {
    display: block;
    text-align: center;
    width: 100%;
}

.btn:hover {
    opacity: 0.9;
}

.card {
    background-color: var(--white-color);
    padding: 1rem;
}

.bg-dark {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.bg-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a, 
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a, 
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
    color: inherit;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.l-heading {
    font-size: 3rem;
}

.list li {
    border-bottom: 1px dotted var(--lighter-grey-color);
    padding: 0.5rem 0;
    width: 90%;
}

.list li a:hover {
    color: var(--primary-color) !important;
}

/* Inner Page Grid Container */
.page-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
}

.page-container > *:first-child {
    grid-row: 1 / span 3;
}

.text-primary {
    color: var(--primary-color);
}

/* Navigation */
#main-nav {
    background-color: var(--white-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    align-items: center;
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
}

#main-nav .logo {
    font-size: 2rem;
    width: 180px;
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social i {
    color: var(--grey-color);
    margin-right: 0.5rem;
}

#main-nav ul {
    display: flex;
    justify-self: end;
}

#main-nav ul li a {
    font-weight: bold;
    padding: 0.75rem;
}

#main-nav ul li a.current {
    background-color: var(--primary-color);
    color: var(--white-color);
}

#main-nav ul li a:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* Showcase */
#showcase {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 2rem;
    position: relative;
}

#showcase:before {
    background-image: url('../images/showcase.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
}

#showcase .showcase-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    min-height: 50vh;
}

#showcase .showcase-content {
    z-index: 1;
}

#showcase .showcase-content p {
    margin-bottom: 1rem;
}

/* Articles */
#home-articles .articles-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child {
    grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
    grid-column: 2 / span 2;
}

#article .meta {
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

#article .meta .category {
    margin-top: 0.4rem;
}

/* Footer */
#main-footer {
    background-color: var(--dark-color);
    color: var(--white-color);
}

#main-footer a {
    color: var(--white-color);
}

#main-footer .footer-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

#main-footer .footer-container > *:last-child {
    background-color: var(--dark-grey-color);
    font-size: 0.75rem;
    grid-column: 1 / span 4;
    padding: 0.5rem;
    text-align: center;
}

#main-footer .footer-container input[type='email'] {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 90%;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}
