#credits {
    padding-top: 50px;
}

#primary-header {
    text-align: center;
}

#resources {
    list-style: none;
    text-align: center;
}

.resource {
    color: #000;
    font-size: 1.2rem;
    line-height: 2;
}

.external-link {
    color: #747474;
    text-decoration: underline;
}
