/* Variables */

/* Background Image */
$bg-image: url('../images/bg.jpg');

/* Colors */
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

/* Sizes */
$website-width: 1280px;
