.container {
    margin: auto;
    max-width: $website-width;
    overflow: hidden;
    padding: 0 1.5rem;
}

%btn-shared {
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
}

.btn {
    &-main {
        @extend %btn-shared;
        background-color: $main-color;
        color: $dark-color;
    }

    &-light {
        @extend %btn-shared;
        background-color: $light-color;
        color: $dark-color;
    }

    &-dark {
        @extend %btn-shared;
        background-color: $dark-color;
        color: $light-color;
    }
}

a[class^='btn-']:hover,
button[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $main-color;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

.py {
    &-1 {
        padding: 1rem 0;
    }

    &-2 {
        padding: 2rem 0;
    }

    &-3 {
        padding: 3rem 0;
    }

    &-4 {
        padding: 4rem 0;
    }
}

.my {
    &-1 {
        margin: 1rem 0;
    }

    &-2 {
        margin: 2rem 0;
    }

    &-3 {
        margin: 3rem 0;
    }

    &-4 {
        margin: 4rem 0;
    }
}

.section-title {
    display: block;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

.bottom-line {
    background-color: $main-color;
    display: block;
    height: 2px;
    margin: 0 auto 1rem auto;
    width: 3rem;
}

.text-main {
    background-color: $main-color;
    color: $dark-color;
    mix-blend-mode: screen;
}
