@import './config';
@import './utilities';

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
}

a {
    color: $dark-color;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

/* Logo */
#logo {
    color: #fff;
    font-size: 1.5rem;
    height: 70px;
    line-height: 70px;
    text-transform: uppercase;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        color: #fff;
        padding-bottom: 0.5rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

/* Header */
#header {
    &-home {
        background-image: $bg-image;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        height: 100vh;

        .header-content {
            padding-top: 20%;
            text-align: center;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }

    &-inner {

    }
}

#home {
    &-a {
        .specials {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 3rem;

            .fas {
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }

    &-b {
        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            div {
                padding: 3rem 0;

                &:nth-child(odd) {
                    background-color: $light-color;
                }

                &:nth-child(even) {
                    background-color: $medium-color;
                }
            }

            li {
                line-height: 2;

                &.stats-title {
                    font-size: 1.5rem;
                }

                &.stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
        }
    }
}
