/* Text */
.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

/* Button */

.btn {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary, .bg-primary {
    background-color: #28a745;
    color: #fff;
}

.btn-secondary, .bg-secondary {
    background-color: #0284d0;
    color: #fff;
}

.btn-dark, .bg-dark {
    background-color: #333;
    color: #fff;
}

.btn-light, .bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Flexbox */
.flex-items {
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.flex-items > div {
    padding: 20px;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex: 1;
    /*flex-basis: 100%; ??? */
    flex-direction: column;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.flex-columns .column-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}
