@function set-text-color($background-color) {
    @if (lightness($background-color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin transform($property) {
    --webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
